.firstD {
    height: 423px;
    width: auto;
    background-color: white;
    text-align: center;

}

.secondD {
    height: 850px;
    width: 100%;
    background: linear-gradient(84.12deg, #1B45B4 2.94%, #1C2792 96.29%);
    /* border: rgb(233, 158, 20) solid 2px; */
    position: relative;
    overflow: hidden;
}

.secondD::before {
    content: '';
    position: absolute;
    top: 1;
    left: 1;
    border-top: 200px solid white;
    border-right: 1247px solid #1B45B4;
    width: 0;
}

.img1 {
    height: 80px;
    width: 25%;
    /* border: rgb(233, 158, 20) solid 2px; */
    margin-top: 74px;
    border-radius: 5px;
}

.text1 {
    position: absolute;
    width: 802px;
    height: 198px;
    left: 230px;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: #0097FE;
}

.thirdD {
    height: 423px;
    width: auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}

.thirdD::before {
    content: '';
    position: absolute;
    bottom: 1;
    right: 1;
    border-bottom: 200px solid white;
    border-left: 1247px solid #2d3bb7;
    width: 0;
}

.textBox {
    position: absolute;
    margin-left: 176px;
    margin-top: 402px;
    /* border: #c90b0b 2px solid; */
    height: 330px;
    width: 30%;
}

.text2 {
    width: 335px;
    height: 100px;
    color: #0097FE;
    margin-top: 1px;
    text-align: left;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.text3 {
    width: 382px;
    height: 66px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #CDD0D8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 4px;
    border: none;
    margin-top: 48px;
    width: 151px;
    height: 54px;
    color: white;
    background: linear-gradient(112.8deg, #6A36FF -15.76%, #AC5FE6 102.86%);
    border-radius: 10px;
}

.fb {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 696px;
    top: 273px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 43px 100px -35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.twitter {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 696px;
    top: 537px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 43px 100px -35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.google {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 954px;
    top: 429px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 43px 100px -35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sociallogo0 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 24px;
    padding: 8px;
    gap: 10px;
    width: 64px;
    height: 64px;
    background: #006EEA;
    border-radius: 10px;
}

.sociallogo1 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 24px;
    padding: 8px;
    gap: 10px;
    width: 64px;
    height: 64px;
    background: #0298EB;
    border-radius: 10px;
}

.sociallogo2 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 24px;
    padding: 8px;
    gap: 10px;
    width: 64px;
    height: 64px;
    background: #E95C49;
    border-radius: 10px;
}

h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    margin-top: 24px;
    letter-spacing: -0.03em;
    color: #006FBA;
}

p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    margin-top: -26px;
    text-align: center;
    padding: 3px;
    color: #68718B;
}

@media screen and (max-width: 1230px) {
    .text1 {
        width: auto;
        left: 30px;
    }

    .fb {
        left: 620px;
    }

    .twitter {
        left: 620px;
    }

    .google {
        left: 880px;
    }
}

@media screen and (max-width: 821px) {
    .text1 {
        width: auto;
        left: 30px;
        font-size: 40px;
    }

    .firstD {
        height: 360px;
        width: auto;
        background-color: white;
        text-align: center;

    }

}

@media screen and (max-width: 1158px) {
    .text1 {
        width: auto;
        left: 30px;
    }

    .fb {
        left: 520px;
    }

    .twitter {
        left: 520px;
    }

    .google {
        left: 780px;
    }

    .textBox {
        margin-left: 60px;
    }
}

@media screen and (max-width: 1058px) {
    .text1 {
        width: auto;
        left: 30px;
    }

    .fb {
        left: 60px;
        margin-top: 300px;
    }

    .twitter {
        left: 360px;
        margin-top: 36px;

    }

    .google {
        left: 660px;
        margin-top: 144px;

    }

    .textBox {
        margin-top: 200px;
        margin-left: 60px;
    }
}

@media screen and (max-width: 955px) {

    .fb {
        left: 60px;
        margin-top: 300px;
    }

    .twitter {
        left: 320px;
        margin-top: 36px;

    }

    .google {
        left: 580px;
        margin-top: 144px;

    }

}

@media screen and (max-width: 855px) {
    .text1 {
        width: auto;
        left: 30px;
    }

    .fb {
        left: 20px;
        margin-top: 300px;
    }

    .twitter {
        left: 280px;
        margin-top: 36px;

    }

    .google {
        left: 540px;
        margin-top: 144px;
    }

    .textBox {
        margin-top: 200px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 855px) {
    .text1 {
        width: auto;
        left: 30px;
    }

    .fb {
        left: 20px;
        margin-top: 300px;
    }

    .twitter {
        left: 340px;
        margin-top: 36px;
    }

    .google {
        left: 180px;
        margin-top: 460px;
    }

    .textBox {
        margin-top: 200px;
        margin-left: 20px;
    }

    .secondD {
        height: 1150px;
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .text1 {
        width: auto;
        left: 30px;
    }
    .img1{
        height: 40px;
        width: 30%;
    }
    .fb {
        left: 20px;
        margin-top: 300px;
        position: absolute;
        width: auto;
        height: auto;
        margin-right: 5px;

    }

    .twitter {
        left: 20px;
        margin-top: 270px;
        width: auto;
        height: auto;
        margin-right: 5px;
    }

    .google {
        left: 20px;
        margin-top: 610px;
        width: auto;
        height: auto;
        margin-right: 5px;
    }

    .textBox {
        margin-top: 200px;
        margin-left: 20px;
    }

    .secondD {
        height: 1350px;
        width: 100%;
    }

    .fbtg {
        margin-left: 230px;
    }
}

@media screen and (max-width: 550px) {
    .fb {
        left: 5px;
    }

    .twitter {
        left: 5px;
    }

    .google {
        left: 5px;
    }
}

@media screen and (max-width: 550px) {
    .fbtg {
        margin-left: 190px;
    }
    
    .secondD {
        height: 1270px;
        width: 100%;
    }
    .text1 {
        width: auto;
        left: 0px;
        font-size: 40px;
    }

}